<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label #claimId for="claimId" class="col-sm-2 col-form-label col-form-label-lg">Claim Id</label>
      <input formControlName="claimId" id="claimId" type="text" class="form-control">
      <div *ngIf="f.claimId.touched && f.claimId.invalid" class="alert alert-danger">
        <div *ngIf="f.claimId.errors.required">ClaimId is required.</div>
        <div *ngIf="f.claimId.errors.minlength">ClaimId should be atleast 3 numbers.</div>
      </div>
      <label #claimType for="claimType" class="col-sm-2 col-form-label col-form-label-lg">Claim Type</label>
      <input formControlName="claimType" id="claimType" type="text" class="form-control">
      <div *ngIf="f.claimType.touched && f.claimType.invalid" class="alert alert-danger">
        <div *ngIf="f.claimType.errors.required">ClaimType is required.</div>
        <div *ngIf="f.claimType.errors.minlength">claimType should be atleast 3 characters.</div>
      </div>
      <button [ngClass]="{'btn': true, 'btn-primary': form.valid, 'btn-secondary': !form.valid}" type="submit" [disabled]="!form.valid"> Search</button>
    </div>
  </form>
  <!--<div *ngIf="claim != null" class="col-sm-4">
    Claim Id: {{claim.ClaimId}}
    Claim Number: {{claim.ClaimNumber}}
  </div>-->
  <div *ngIf="statusCode == 404" class="alert alert-primary">
    {{message}}
  </div>
  <div *ngIf="statusCode == 500" class="alert alert-danger">
    {{message}}
  </div>
  <div *ngIf="statusCode == 200" style="margin: 70px;">
     <div class="container">
       <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Claim Id</th>
            <th scope="col">Claim Number</th>
            <th scope="col">Network Name</th>
            <th scope="col">Claim Type</th>
            <th scope="col">MedicareId</th>
            <th scope="col">Provider Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let claim of claims">
            <td>{{claim.ClaimId}}</td>
            <td>{{claim.ClaimNumber}}</td>
            <td>{{claim.NetworkName}}</td>
            <td>{{claim.ClaimType}}</td>
            <td>{{claim.MedicareId}}</td>
            <td>{{claim.ProviderName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
